<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Subscribe to our <a href="{{@blog.url}}/rss/"><i class="fa fa-rss"> RSS Feed</i></a>
                </p>
                <p>
                    <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} - All Rights Reserved.
                </p>
                <p>
                    Proudly powered by <a href="http://ghost.org">Ghost</a>.
                </p>
                <ul class="list-inline list-footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <a id="go-top" href="#" class="go-top"><span class="glyphicon glyphicon-chevron-up"></span></a>
            </div>
        </div>
    </div>
</footer>